<%= render 'form' %>

<!-- <form action="articles/article.id" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="title">Title: </label>
  <input type="text" name="article[title]" id="article_title" value="<%=  @article.title %>">

  <label for="content">Content: </label>
  <input type="text" name="article[content]" id="content" value= "<%= @article.content %>">

  <input type="submit">
</form> -->


<!--

<div id = "editor_container">
  <div id="editor"><%= @article.content %></div>
</div>
<script src="lib/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
</script>
 -->
